.hidden {
	display: none;
}
#content:hover {
    background: #ff9;
}
body {
    background-color: lightblue;
	font-size: 100px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
}
